
<div class="input-group">
    <input type="text" 
        class="form-control" 
        placeholder="Type inventory name to search" />
    <button type="button" class="btn-success">Search</button>
</div>

@code {

}
