@page "/inventories"
@inject NavigationManager NavigationManager

<h3>InventoryList</h3>
<br/>
<SearchInventoryComonent  OnSearchInventory="OnInventorySearch"/>
<br/>
<InventoryListComponent SearchTerm="@searchTerm"/>
<br/>
<button type="button"
        class="btn btn-primary"
        @onclick="AddInventory">Add Inventory</button>

Search term: @searchTerm

@code {
    private string searchTerm = string.Empty;

    private void OnInventorySearch(string searchTerm)
    {
        this.searchTerm = searchTerm;
    }

    private void AddInventory()
    {
        NavigationManager.NavigateTo("/addinventory");
    }
}
